
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color: rgb(9, 0, 43); 
    background-image: url(../img/mineral.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    color: #d1d2e4;
}

img{
    max-width: 250px;
    border-radius: 50%;
    margin-top: 35px;
}

a{
    text-decoration: none;
    display: block;
    margin: auto;
}

.btn{
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    max-width: 200px;
    margin-top: 20px;
    background-size: 200% auto;
    padding: 23px;
    border-radius: 30px;
    flex: 1 1 auto;
    transition: 0.5s;
    opacity: 0.6;
}

.btn:hover{
    background-position: center;
    color: white;
    opacity: 1;
}

.btn1{
    background-image: linear-gradient(
        to left,
        #070F2B 0%,
        #1B1A55 51%,
        #535C91 100%
    );
}

.btn2{
    background-image: linear-gradient(
        to right,
        #273566 0%,
        #1B1A55 51%,
        #535C91 100%
    );
}

.btnultimo{
    margin-bottom: 70px;
}

#roca{
    width: 220px;
    position: absolute;
    top: 400px;
    left: 110px;
    animation: identifier 3s infinite;
}

@keyframes identifier {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media (max-width: 1000px) {
    #roca{
        visibility: hidden;
    }
}
